<div id="square_<%= square.name %>" class="square">
    <p>Name: <%= square.name %></p>
    <p>Detail: <%= square.detail%></p>
    <%= link_to "show", square %> |
    <%= link_to "edit", squares_path %> |
    <%= link_to "destroy", squares_path %>
</div>