<!DOCTYPE html>
<html>
  <head>
    <title>Dotoree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!--Flash Message-->
    <div id="flash-message" class="row">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name == 'notice' ? 'primary' : 'danger' %> alert-dismissible fade show" role="alert">
            <%= message %>  
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
