<!DOCTYPE html>
<html>
  <head>
    <title>Dotoree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Dotoree</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="d-flex navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, {:class => "nav-link"}%>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, {:class => "nav-link"}%>
          </li>
          <!--if logged in-->
          <li class="nav-item">
            <%= link_to "My Square", squares_path, {:class => "nav-link"}%>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Catalog</a>
          </li>
          
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
          <%= link_to '<button class="btn btn-secondary" type="button" name="button">Login</button>'.html_safe, login_path %>
          <%= link_to '<button class="btn btn-primary" type="button" name="button">Sign up</button>'.html_safe, signup_path%>
        </ul>
      </div>
    </nav>
   <!--Flash Message-->
    <div id="flash-message" class="row">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name == 'notice' ? 'primary' : 'danger' %> alert-dismissible fade show" role="alert">
            <%= message %>  
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <% end %>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
